<a href="https://colab.research.google.com/github/iamrsp/kmc_python/blob/main/Day1_KMC_FDP_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Program No.1

In [42]:
#library imports
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt

In [47]:
def test1():
  a=4.+2.j
  d= 11%2
  print(a,'\t',a.real,'\t', a.imag, '\t', a.conjugate(),'\t',d)

In [48]:
def test_odd_even():
  x=int(input("Enter a number "))
  if (x%2 ==0):
    print("The entered number is even ")
  else:
    print("The entered number is odd ")

In [49]:
def test_angle():
  theta=int(input("Enter the angle (in degrees) "))
  theta_rad=theta*np.pi/180
  print("sine of the angle theta is ",np.sin(theta_rad))
  print("sine of the angle theta is ",np.sin(np.radians(theta)))
  print("For theta = {:3.2f}, the sine of the angle is {:4.2f}".format(theta,np.sin(np.radians(theta))))

In [50]:
def test_velocity_plot():
  v0=float(input("Enter the initial velocity in m/s "))
  g=9.81
  t0=0
  tf=50
  dt=1
  n=int((tf-t0)/dt)+1
  t=np.linspace(t0,tf,n)
  y=np.zeros(n)
  for i in range(n):
    y[i]=v0*t[i]+(0.5*g*t[i]*t[i])
  plt.plot(t,y)
  plt.xlim(0,50)
  plt.xlabel("t (s)")
  plt.ylabel("y(t)")

In [51]:
def test_Heron():
  a=4.503
  b=2.377
  c=3.902
  s=0.5*(a+b+c)
  area=np.sqrt(s*(s-a)*(s-b)*(s-c))
  print("Area of the triangle using Heron's formula is ",\
          round(area,3) ,\
          "and it's square is ",\
          round(area*area,3))

Assignment#1 6th Dec 2021 FDP-KMC-Day1

**Exercise 1:**

In [ ]:
import numpy as np
import math

a=6378137.0 # semi-major axis in m
c=6356752.314245 # semi-minor axis in m

ep_2=1-((c*c)/(a*a))
ep=np.sqrt(ep_2)

s_obl=2*np.pi *a*a* (1+( ( (1-ep_2)/(ep) ) * math.atanh(ep) ) )

r=6371000. #radius of earth in m
s_sph=4*np.pi*r*r

print("Surface area of earth as an oblte spheroid in sq. m. is ", s_obl)
print("Surface area of earth as a sphere in sq. m. is ", s_sph)

np.isclose(s_obl,s_sph,1e-5)

Surface area of earth as an oblte spheroid in sq. m. is  510065621724079.0
Surface area of earth as a sphere in sq. m. is  510064471909788.25

True

**Exercise 2:**

In [ ]:
import numpy as np
h=float(input("Enter the height of the pyramid "))
n=int(input("Enter the number of sides of the polygon base "))
s=float(input("Enter the length of the side of the regular polygon "))

# apothem of the base, the base area and the slant height
a=0.5*s*(np.cos(np.radians(np.pi/n))/np.sin(np.radians(np.pi/n)))
A=0.5*n*s*a
l=np.sqrt(h*h + a*a)

#Volume and Total Surface Area of the pyramid
V=A*h/3.
S=A+(0.5*n*s*l)

print("The Volume of the pyramid is ", round(V,3), "cu. units")
print("The total surface area of the pyramid is ", round(S,3), "sq. units")

Enter the height of the pyramid 10
Enter the number of sides of the polygon base 3
Enter the length of the side of the regular polygon 2
The Volume of the pyramid is  547.073 cu. units
The total surface area of the pyramid is  330.963 sq. units

**Exercise 3:**

In [ ]:
theta_min=20 # Temp. in deg. celcius
theta_max=80
step=5

i=theta_min
while (i<=theta_max):
  print(f"Temperature of {i} Celcius is equal to {i*9./5. + 32} Farenheit ")
  i+=step

Temperature of 20 Celcius is equal to 68.0 Farenheit
Temperature of 25 Celcius is equal to 77.0 Farenheit
Temperature of 30 Celcius is equal to 86.0 Farenheit
Temperature of 35 Celcius is equal to 95.0 Farenheit
Temperature of 40 Celcius is equal to 104.0 Farenheit
Temperature of 45 Celcius is equal to 113.0 Farenheit
Temperature of 50 Celcius is equal to 122.0 Farenheit
Temperature of 55 Celcius is equal to 131.0 Farenheit
Temperature of 60 Celcius is equal to 140.0 Farenheit
Temperature of 65 Celcius is equal to 149.0 Farenheit
Temperature of 70 Celcius is equal to 158.0 Farenheit
Temperature of 75 Celcius is equal to 167.0 Farenheit
Temperature of 80 Celcius is equal to 176.0 Farenheit

In [32]:
for i in range(theta_min,theta_max+1,step):
  print(f"Temperature of {i} Celcius is equal to {i*9./5. + 32} Farenheit ")

Temperature of 20 Celcius is equal to 68.0 Farenheit
Temperature of 25 Celcius is equal to 77.0 Farenheit
Temperature of 30 Celcius is equal to 86.0 Farenheit
Temperature of 35 Celcius is equal to 95.0 Farenheit
Temperature of 40 Celcius is equal to 104.0 Farenheit
Temperature of 45 Celcius is equal to 113.0 Farenheit
Temperature of 50 Celcius is equal to 122.0 Farenheit
Temperature of 55 Celcius is equal to 131.0 Farenheit
Temperature of 60 Celcius is equal to 140.0 Farenheit
Temperature of 65 Celcius is equal to 149.0 Farenheit
Temperature of 70 Celcius is equal to 158.0 Farenheit
Temperature of 75 Celcius is equal to 167.0 Farenheit
Temperature of 80 Celcius is equal to 176.0 Farenheit

**Exercise 4:**

In [36]:
theta_min=20 # Temp. in deg. celcius
theta_max=80
step=5

n       = int((theta_max-theta_min)/step)+1
theta_C = np.linspace(theta_min,theta_max,n)

def convert(C):
  F=C*9./5. +32
  return F

print(theta_C,"\n",convert(theta_C))

[20. 25. 30. 35. 40. 45. 50. 55. 60. 65. 70. 75. 80.]
 [ 68.  77.  86.  95. 104. 113. 122. 131. 140. 149. 158. 167. 176.]

In [56]:
def tests_main():
  #test1()
  #test_angle()
  test_odd_even()
  #test_Heron()
  #test_velocity_plot()

In [57]:
tests_main()

Enter a number 5
The entered number is odd